@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --brownish: #780d18;
  --greenish: #107033;
  --limey: #e1ff8f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--brownish);
}

body {
  background-color: var(--brownish);
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: inherit;
}

.board {
  border: 1rem solid var(--limey);
  border-radius: 1rem;
  background: var(--limey);
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.squares {
   background: var(--brownish);
   color: var(--limey);
   border: var(--limey);
   border-radius: 0.5rem;
   font-size: 5rem;
   cursor: pointer;
   outline: none;
   opacity: 1;
 }

 .btn {
   border-radius: 1.25rem;
   border: white;
   background-color: var(--greenish);
   margin-left: 25rem;
   color: var(--limey);
   padding: 1rem;
   margin: auto;
   margin-top: 0.5rem;
   margin-bottom: 0.25rem;
 }

.info-wrapper button:hover {
  background: #bfbfbf;
  color: black;
}

.squareText {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
};
